<!--affivhé si loadind -->
<div class="loading" [hidden]="!showLoading">

    <img src="../../../../assets/images/loading-hourglass.gif" class="mx-auto d-block" alt="">
</div>

<!-- Detail Task avec Fromulaire -->
<div class="row" style="margin-top: 120px" [hidden]="showLoading">
    <img src="../../assets/images/logo.png" class="rounded-circle mx-auto d-block" alt="Cinque Terre">
</div>

<div class="media" [hidden]="showLoading">
    <img src="../../../../assets/images/avatar.png" class="align-self-start mr-3" style="width:50px">
    <div class="media-body">
        <h4>Details Demande</h4>
        <h5>Crée le {{valueCreated | date:'dd-MM-yyyy HH:mm '}} </h5>
        <h5>Demandeur : <small><i>{{valueNom}} -- {{valuePrenom}}</i></small></h5>
        <h5>Code Cnrps : <small><i>{{valueCodecnrps}}</i></small></h5>
        <h5>Structure : <small><i>{{valueStructure}}</i></small></h5>
        <h5>Email : <small><i> {{valueEmail}}</i></small></h5>
        <h5>La langue du document demandee : <small><i>{{valueLangue}}</i></small></h5>
        <h5>Annee : <small><i>{{valueAnnee}}</i></small></h5>
        <h5>Mois : <small><i>{{valueMois}}</i></small></h5>
        <h5>Remarque : <small><i>{{valueRemarque}}</i></small></h5>
        <button class="btn btn-sm btn-warning" routerLink="/assistants">Listes des demandes</button>

    </div>
    <!-- [formGroup]="traiterDemande" -->
    <div>
        <div class="form-group">
            <label for="">Commentaire</label>
            <textarea class="form-control" rows="5" name="commentaire" [(ngModel)]="commentaire" aria-describedby="helpId"></textarea>
            <small id="helpId" class="form-text text-muted">Merci d'introduire un Comentaire si
                necessaire</small>
        </div>
        <div class="text-center">
            <!-- <button class="btn btn-sm btn-primary" (click)='onValideDemande()'>Valider</button> -->
            <button class="btn btn-sm btn-danger" (click)="openDialog()">Refuser</button>
            <button class="btn btn-sm btn-primary" (click)="onGenerePDF()">Valider</button>
        </div>

    </div>
</div>