/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

/* cssc image nodata*/

.imgnodata {
    margin-top: 100px;
}

.imgnodata img {
    width: 130px;
    height: 160px;
}


/*css image loading*/

.loading {
    margin-top: 300px;
}